@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import '~bulma/bulma';

html {
    overflow-y: hidden;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.hero-head {
    border-bottom: 1px solid rgba($white-ter, .25) !important;
}

.hero-head .navbar-item-control .button {
    padding-left: 2rem;
    padding-right: 2rem;
}

.hero-head .navbar-item-separator {
    margin-left: 1rem;
    margin-right: 1rem;
}

.hero-head svg {
    margin-right: 0.5rem;
}

.hero-head svg.is-light path {
    fill: $white-bis;
}

.hero-head svg.is-dark path {
    fill: $black-bis;
}

.modal-card-body p.help { 
    text-align: right;
    padding-right: 1rem; 
}
